  body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: 18px;
            width: 500px; /* 폼의 너비 설정 */
            margin: 0 auto; /* 좌우 가운데 정렬 */
        }
        h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .item {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        .item:last-child {
            border-bottom: none;
        }
        .options label {
            display: inline-block;
             margin-bottom: 5px; 
            margin-right: 10px;
        }
        .options input[type="radio"] {
            margin-right: 5px;
        }
        button {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 18px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }