@charset "utf-8";
/* 버전관리 개발 테스트용 주석입니다. 작업시 이 주석이 남아있으면 깔끔하게 지워주세요! */
/* default */
#secHelp #footer {margin-top:0;}
#secHelp #content {position:relative; width:auto; padding-left:220px; padding-bottom:80px; min-height:700px;}
#secHelp .loungeContent .art {padding-bottom:65px;}
#secHelp .loungeContent .art .tpl_hd_2 {margin-bottom:12px;}
#secHelp .loungeContent .artInner {position:relative;}
#secHelp .loungeContent .artInner:after {content:""; display:block; clear:both;}
#secHelp .loungeContent .artInner .mtuBtnMore {position:absolute; top:-27px; right:0;}
#secHelp .loungeContent .art .bx {border-top:1px solid #bfbfbf; border-bottom:1px solid #ececec;}
/* common */
.cl3399ff {color:#3399ff;}
.clef3f3f {color:#ef3f3f;}
.bdrTNone {border-top:0 !important;}
input[type="password"] {float:left; border:0; width:341px; height:32px; line-height:34px; padding:0 12px;}
.helpMain #adRightWing{top:0 !important;}
/* lnb */
.secLnb {position:absolute; top:0; bottom:0; left:0; padding:0 20px; width:190px; border-top:1px solid #4a5470; border-left:1px solid #dce1eb; border-right:1px solid #dce1eb; box-sizing:border-box; z-index:1;}
.secLnb .lnbTit {display:block; margin-top:12px; padding: 12px 0;font-size:18px;letter-spacing: 0px; font-weight:normal; color:#000;}
.secLnb .lnbTit.on, .secLnb .lnbTit:hover, .secLnb .lnbTit:active {color:#39f;}
.secLnb .lnbGroup {padding:15px 0 18px; border-top:1px solid #eeeef0;}
.secLnb .lnbGroup li {font-size:13px;letter-spacing: 0px; color:#000; line-height:2.3;}
.secLnb .lnbGroup li.divisoin {display:inline-block;}
.secLnb .lnbGroup li.line:before {content:""; display:inline-block; width:1px; height:12px; background:#b8b8b8; vertical-align: middle; margin:-1px 11px 0;}
.secLnb .lnbGroup li a {color:#000;}
.secLnb .lnbGroup li a:hover, .secLnb .lnbGroup li a.on {color:#39f;}
.secLnb .lnbGroup .lnbTwoDep li {padding-left:7px; background:url(/content/images/ver_1/help/dot_lnb_2x2.gif) no-repeat 0 50%;}
.secLnb .lnbGroup li .lnbFile {display:inline-block; width:12px; height:17px; margin-left:5px; background:url(/content/images/ver_1/help/bg_cc_icon.png) no-repeat 0 -44px; vertical-align:middle;}
/* 컨텐츠 */
#secHelp .loungeContent h1 {padding:12px 0 15px;font-size:26px;letter-spacing: -0.5px; color:#333;}
/* 개인회원 FAQ */
.tabSearchTable {margin-top:32px;}
.tabSearchTable.leaveTable {margin-top:17px;}
.tabSearchTableCaption {font-size:0; height:0; line-height:0; text-indent:-9999px; width:0;}
.tabSearchTable th {text-align:left; vertical-align:top;}
.tabSearchTable th > span {display:block; padding-top:3px; padding-left:10px;}
.tabSearchTable .tabSearchTableTitle {font-size:16px;letter-spacing: 0px; color:#000; font-weight:normal;}
.tabSearchTable td > div {padding-left:10px;}
.tabSearchTable th,
.tabSearchTable td {padding:15px 0;}
.tabSearchTable .ph.noIcon:before {display:none;}
.placeholderTextarea { position:relative;}
.placeholderTextarea label { position:absolute; top:19px; left:28px;font-size:14px;letter-spacing: 0px; color:#bbb; line-height:1.5;}
.placeholderTextarea.on label { font-size:0;}
.tplSchType .oneOnOneQuest,
.tplSchType .oneOnOneQuest dd {width:365px; border-color:#ccc;}
.tplSchType .oneOnOneQuest dd input[type="text"] {width:341px;}
.tplSchType .oneOnOneQuestFull,
.tplSchType .oneOnOneQuestFull dd {width:550px; border-color:#ccc;}
.tplSchType .oneOnOneQuestFull dd input[type="text"] {width:526px;}
.tabSearchTableText {width:552px; height:300px; padding:10px; resize:none; border:1px solid #ccc;font-size:12px;letter-spacing: 0px; box-sizing:border-box; line-height:18px;}
/* 버튼 */
.btnAgreeArea {margin-top:45px; text-align:center;}
.btnAgreeArea > button {width:190px; height:54px;}
.btnAgreeArea_2 {margin-top:25px; padding-top:40px; border-top:1px solid #edeef0;}
.btnAgreeArea_2 > button {width:auto; padding:0 45px;}
.btnBlue {background:#3399ff; color:#fff;font-size:16px;letter-spacing: 0px;}
.btnGray {background:#8f98a4; color:#fff;font-size:16px;letter-spacing: 0px;}
.btnPageArea {margin-top:20px;}
.btnPageArea:after {display:block; content:""; clear:both;}
.btnPageArea > button {position:relative; border:1px solid #ccc; width:80px; height:44px; padding:14px 0 15px 22px; box-sizing:border-box; font-weight:bold;font-size:12px;letter-spacing: 0px; color:#333; text-align:left;}
.btnPageArea .btnPrev {float:left; padding:0 0 0 35px;}
.btnPageArea .btnTop {float:right; padding:0 0 0 35px;}
.btnPageArea .btnPrev .icon {display:inline-block; position:absolute; left:22px; top:15px; width:8px; height:11px; background:url(/content/images/ver_1/help/bg_cc_icon.png) no-repeat 0 -68px;}
.btnPageArea .btnTop .icon {display:inline-block; position:absolute; left:20px; top:17px; width:11px; height:8px; background:url(/content/images/ver_1/help/bg_cc_icon.png) no-repeat 0 -110px;}
/* 회원탈퇴 */
.helpNoticeBox {padding:25px 23px 29px 23px; background:#fafafa; border:1px solid #edeef0;}
.helpNoticeBoxTitle {font-size:16px;letter-spacing: 0px; color:#333;}
.helpNoticeBoxList {margin-top:11px;}
.helpNoticeBoxList li {padding-left:7px; background:url(/content/images/ver_1/help/dot_lnb_2x2.gif) no-repeat 0 50%;font-size:13px;letter-spacing: 0px; color:#666; line-height:28px;}
.tabSearchTableDefaultID {display:inline-block; height:34px; line-height:34px;font-size:12px;letter-spacing: 0px; color:#333; font-weight:bold;}
.tabSearchTable .tplSchType {display:inline-block; vertical-align:middle;}
.tplSchType .oneOnOneQuest.emailType,
.tplSchType .oneOnOneQuest.emailType dd {width:159px; border-color:#ccc;}
.tplSchType .oneOnOneQuest.emailType dd input[type="text"] {width:135px;}
.tabSearchTable .tplSltBx, .tabSearchTable .tplSltBx select, .tabSearchTable .tplSltBx label {height:32px;}
.tabSearchTable .rdoLabel {margin-right:50px;font-size:12px;letter-spacing: 0px; color:#333;}
.tabSearchTable .division {margin-top:9px;}
.tabSearchTable .divisionOther {margin-top:19px;}
.tabSearchTable .divisionOther .rdoLabel {margin-right:15px;}
.tabSearchTable .divisionOther .tplSchType .oneOnOneQuest.emailType,
.tabSearchTable .divisionOther .tplSchType .oneOnOneQuest.emailType dd {width:464px; border-color:#ccc;}
.tabSearchTable .divisionOther .tplSchType .oneOnOneQuest.emailType dd input[type="text"] {width:439px;}
.agreeBox { margin-top:15px; padding-top:15px; border-top:1px solid #edeef0; text-align:center;}
.agreeBox * { vertical-align: middle;}
.agreeBox label { display:inline-block; margin-top:-2px; margin-left:5px;}
.agreeBox + .btnAgreeArea_2 { margin-top:15px; padding-top:0px; border-top:0px solid #edeef0;}
/* 기업플랫폼 개편 style 추가 시작 - 2017.06.29 */
/* button */
.mtcBtn, .mtcBtnB:before, .mtcBtnA:after, .mtcBtnM:before, .mtcBtnM:After {display:inline-block; background:url("/content/images/ver_1/mtc/common/mtc_sp_btn.png") no-repeat; vertical-align:middle; box-sizing:border-box;}
.mtcBtn span, .mtcBtnB span, .mtcBtnA span, .mtcBtnM span, .mtcBtnB:before, .mtcBtnA:after, .mtcBtnM:before, .mtcBtnM:After {position:relative;}
.mtcBtnB:before, .mtcBtnA:after, .mtcBtnM:before, .mtcBtnM:After {content:"";}
.btnMtcTpl{height:36px; padding:0 12px; line-height:34px; border:1px solid #ddd;font-size:13px;letter-spacing: 0px; color:#000;}
/* list 검색영역 */
.searchBarItem {width:330px; border:1px solid #ddd; position:relative;}
.searchBarItem .mtcSchInp{width:100%; height:34px; box-sizing:border-box; line-height:34px;font-size:13px;letter-spacing: 0px; border:none; padding:0 40px 0 10px;}
.searchBarItem .mtcSchBtn{position:absolute; right:0; top:0; width:35px; height:34px;}
.searchBarItem .mtcSchBtn:before{width:16px; height:16px; background-position:-248px -21px;}
.searchBarItem .phTx {position:absolute; left:10px; top:9px;font-size:13px;letter-spacing: 0px; color:#bbb;}
/* checkbox */
.mtcChkBx {position:relative; display:inline-block;}
.mtcChkBx input[type="checkbox"] {position:absolute; left:0; top:0; width:13px; height:13px; opacity:0; filter:alpha(opacity=0);}
.mtcChkBx .bxIpt {display:inline-block; padding-left:18px; background:url("/content/images/ver_1/mtc/common/mtc_sp_form.png") no-repeat 0 -330px; vertical-align:top; cursor:pointer;}
.mtcChkBx .bxIpt.chk {background-position:0 -373px;}
.mtcChkBx .bxIpt.mtcDis, .mtcChkBx span.bxIpt.mtcDis {background-position:0 -459px; cursor:default;}
.mtcChkBx label {display:inline-block; margin-right:5px; line-height:1.1; white-space:nowrap; text-align:left;}
.mtcChkBx label.chk {color:#333;}
/* select */
.mtcSltBx {position:relative; display:inline-block;font-size:13px;letter-spacing: 0px; height:28px; background:#fff url("/content/images/ver_1/mtc/common/mtc_sp_form.png") no-repeat 100% 10px; border:1px solid #ddd; vertical-align:middle; z-index:1; box-sizing:border-box;}
.mtcSltBx label {position:absolute; color:#999; top:0; left:10px; height:100%; line-height:1.8; z-index:-1;}
.mtcSltBx label.chk {color:#000;}
.mtcSltBx select {width:100%; height:100%; padding:0 6px 0 10px; padding:0 6px 0 0\9; border:0; opacity:0; filter:alpha(opacity=0);}
.mtcSltBx.disabled {border:1px solid #e5e5e5; background-position:100% -20px;}
.mtcSltBx.disabled label {color:#aaa;}
/* Input */
.mtcIpt {width:100%; height:36px; line-height:36px; padding:0 5px; border:1px solid #ddd; box-sizing:border-box;}
/* list */
.mtcSchListTb {margin-top:15px; text-align:center;}
.mtcSchListTb table{width:100%; table-layout:fixed; border-top:1px solid #bfbfbf;}
.mtcSchListTb table caption{position:absolute; left:-9999px;}
.mtcSchListTb table thead th{background-color:#fcfcfc; height:37px;font-size:12px;letter-spacing: 0px; color:#333; border-bottom:1px solid #bfbfbf; font-weight:normal;}
.mtcSchListTb table thead th .schItems .lyItems{width:90px; left:50%; margin-left:-45px;}
.mtcSchListTb table tbody td {padding:20px 5px; text-align:center;font-size:14px;letter-spacing: 0px; color:#666; border-bottom:1px solid #edeef0;}
.mtcSchListTb table tbody td .tdInner{position:relative;}
.mtcSchListTb table tbody td.alLeft {text-align:left;}
.mtcSchListTb table tbody .primary {	background-color: rgba(51,153,255,.05);}
.mtcSchListTb .chkItem{display:inline-block; position:relative; width:19px; height:16px; text-align:center; padding-top:3px;margin-left:12px;}
.mtcSchListTb .lyTplArea.lyNotice {position:absolute; right:25px; top:50%; margin-top:-15px;}
/* 리스트 정렬관련 버튼 */
.btnListSort{height:37px;font-size:12px;letter-spacing: 0px; color:#333; text-align:center; padding:0 2px 0 12px;}
.btnListSort:after{content:""; display:inline-block; width:9px; height:6px; background-position:-88px 0; vertical-align:2px; margin-left:5px;}
/* pagination */
.listBtmArea{position:relative;}
.listBtmArea .btnListExDn{position:absolute; left:0; top:-1px; z-index:2;}
.listBtmArea .btnListExDn .mtcBtn{vertical-align:-1px; margin-right:9px;}
.listBtmArea .listLenSel{position:absolute; right:0; top:-1px;}
.listBtmArea .listLenSel select{padding-right:10px;}
.mtcPagination {position:relative; margin-top:30px; text-align:center;}
.mtcPagination p, .mtcPagination ul, .mtcPagination li {display:inline-block; vertical-align:top;}
.mtcPagination a, .mtcPagination .mtcBtnB, .mtcPagination .now {display:inline-block; color:#999; width:32px; height:32px; line-height:32px; border:1px solid #ccc; background:#fff;}
.mtcPagination .now {color:#333; font-weight:bold; border:1px solid #666;}
.mtcPagination .mtcBtnB {position:relative; display:block; top:0; text-indent:-9999px;}
.mtcPagination .mtcBtnB:before {position:absolute; top:11px; width:6px; height:9px;}
.mtcPagination .btnPgnPrev:before {left:13px; background-position:0 0;}
.mtcPagination .btnPgnNext:before {right:13px; background-position:-26px 0;}
/* tab */
.mtcTplTab{margin-top:15px; padding-left:1px;}
.mtcTplTab .tabItems{display:table; width:100%; table-layout:fixed;}
.mtcTplTab .tabItems li{display:table-cell;}
.mtcTplTab .tabItems li a{display:block; height:43px; line-height:43px; margin-left:-1px; border:1px solid #e5e6e8; border-bottom:1px solid #858c99; background-color:#fafafa; position:relative;font-size:14px;letter-spacing: 0px; color:#999; text-align:center;}
.mtcTplTab .tabItems li a .verdana{margin-left:5px;font-size:12px;letter-spacing: 0px; vertical-align:1px;}
.mtcTplTab .tabItems li a .verdana{vertical-align:0 \0/IE8; vertical-align:0 \0/IE9; vertical-align:0\0/IE8+9;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {	.mtcTplTab .tabItems li a .verdana{vertical-align:1px;}
}
.mtcTplTab .tabItems li.on a{border:1px solid #858c99; border-bottom:1px solid #fff; z-index:2; background-color:#fff; font-weight:bold; color:#333;}
.mtcTplTab .tabItems li.on a .verdana{color:#3399ff; font-weight:normal;}
/* 레이어 공통 - type02 */
.lyTplArea {position:relative; display:inline-block;}
.lyTplArea .lyItems{display:none; width:110px; box-sizing:border-box; position:absolute; left:0; top:100%; border:1px solid #565d79; background-color:#fff; text-align:left;}
.lyTplArea .lyItems a{display:block; padding:6px 0 7px 13px;font-size:13px;letter-spacing: 0px; color:#000;}
.lyTplArea .lyItems a:hover,
.lyTplArea .lyItems .on a{background-color:#565d79; color:#fff;}
.lyTplArea.on{z-index:3;}
.lyTplArea.on .lyItems{display:block;}
.lyTplArea .lyItems.lyChkType {width:135px;}
.lyTplArea .lyItems.etcLayer {width:180px;}
.lyTplArea .lyItems .mtcChkBx{display:block;font-size:13px;letter-spacing: 0px; color:#000;}
.lyTplArea .lyItems .mtcChkBx label{font-size:13px;letter-spacing: 0px; height:30px; line-height:30px; box-sizing:border-box; vertical-align:middle; margin-right:0; padding-left:32px; background-position:14px -321px;}
.lyTplArea .lyItems .btnSubmit{width:100%; height:35px; background-color:#565d79; color:#fff;font-size:13px;letter-spacing: 0px; text-align:center;}
.lyTplArea .lyItems .on .mtcChkBx label{color:#3399ff; background-position:14px -364px}
/* 문의하기 */
.inquiryForm .tbMail .mtcIpt {width:162px;}
/* 이벤트 */
.eventListWrap .snbWideList .listType_03 {width:750px; margin-left:-10px;}
.eventListWrap .snbWideList .listType_03 li {width:240px;}
/* 기업플랫폼 개편 style 추가 끝 - 2017.06.29 */
/* FAQ */
.tabSearchListTitle .tabSearchListTitleWrap {width:650px;}
