<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.test">
  <select id="searchAdminQna" parameterType="int" resultType="Qna">
  	select qna_num, category, title, content, user_id, input_date
	from ( select qna_num, category, title, content, user_id, input_date
                  row_number() over (order by input_date desc) as rnum
           from qna
           where 1=1) subquery
	where  rnum between 1 and 10
  </select>
</mapper>