.accessibility { position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; text-align: left; }
.accessibility a { display: block; position: absolute; top: -1000px; left: 0; z-index: 500; width: 100%; text-align: center; }
.accessibility a:focus, .accessibility a:active { position: absolute; top: 0; z-index: 1000; height: 40px; background: #000;font-size:12px;letter-spacing: 0px; font-weight: bold; color: #fff; line-height: 40px; }
.screen-out { overflow: hidden; position: absolute; left: -10000px; clip: rect(0, 0, 0, 0); clip: rect(0 0 0 0); border: 0; padding: 0; }
body {background-color: #ecf0f3;}
body.booth .company-wrap { width: 1080px; }
body.booth .company-header-toolbar { height: 44px; background-color: transparent; }
body.booth .company-header-toolbar-container { width: 100%; height: 44px; margin: 0; }
body.booth .company-header-toolbar-container .menu { float: inherit; height: 44px; padding: 0 22px; }
body.booth .company-header-toolbar-container .menu-item { height: 44px; margin-left: 27px; padding: 11px 0 0;font-size:14px;letter-spacing: 0px; color: #666; }
body.booth .company-header-toolbar-container .menu-item:first-child { margin-left: 0; }
body.booth .company-header-toolbar-container .menu-item:before { display: none; }
body.booth .company-header-toolbar-container .menu-item strong { color: #333; }
body.booth .company-header-toolbar-container .menu-item.active { border-bottom: 3px solid #39f; font-weight: bold; color: #39f; }
.company-wrap { position: relative; width: 100%; }
.company-body { text-align: center; }
.company-body.stContainer { padding-bottom: 30px; }
.company-body .recruitCont, .company-body .assayCont, .company-body .jobfairCont, .company-body .reviewCont, .company-body .interviewCont, .company-body .testCont { width: 1040px !important; margin: 0 auto; text-align: left; }
.company-body .sortWrap, .company-body .ctgrWrap { width: 100%; }
.company-body .recruitCont .jobInfo { width: 100%; padding-bottom: 30px; }
.company-body .recruitCont .jobInfo .list { width: 1050px; margin: 0; }
.company-body .recruitCont .jobInfo .list-item {width:340px; height:232px; margin: 0 10px 10px 0;}
.company-body .recruitCont .jobInfo .list > a { display: block; }
.company-body .recruitCont .jobInfo .list > a .tit { color: #333; line-height: 1.4; }
.company-body .recruitCont .jobInfo .booth { width: 338px; height: 230px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.company-body .recruitCont .jobInfo .booth .func { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.company-body .recruitCont .jobInfo .paginations { width: 100%; text-align: center; font-size: 0; }
.company-body .recruitCont .jobInfo .paginations .item { display: inline-block; position: relative; min-width: 34px; height: 34px; margin: 0 2px; padding: 6px 5px 0; text-align: center; vertical-align: top;font-size:14px;letter-spacing: 0px; color: #000; background-color: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.company-body .recruitCont .jobInfo .paginations .item:before { position: absolute; content: ''; top: 0%; left: 0px; width: 1px; height: 100%; }
.company-body .recruitCont .jobInfo .paginations .active { border: 1px solid #ccc; }
.company-body .recruitCont .jobInfo .paginations .item-previous { padding-top: 7px; margin-right: 18px;font-size:13px;letter-spacing: 0px; color: #666; }
.company-body .recruitCont .jobInfo .paginations .item-previous:before { content: ''; position: relative; top: 6px; display: inline-block; vertical-align: top; width: 5px; height: 7px; margin-right: 5px; background: url("/content/images/company/icon-arrow-left-paginations.png") no-repeat; }
.company-body .recruitCont .jobInfo .paginations .item-next { padding-top: 7px; margin-left: 18px;font-size:13px;letter-spacing: 0px; color: #666; }
.company-body .recruitCont .jobInfo .paginations .item-next:after { content: ''; position: relative; top: 6px; display: inline-block; vertical-align: top; width: 5px; height: 7px; margin-left: 5px; background: url("/content/images/company/icon-arrow-right-paginations.png") no-repeat; }
.company-body .atc { width: 100% !important; text-align: left; }
.company-body .salaryCont { width: 1040px; margin: 0 auto; }
.company-body .salaryCont .block { width: 100%; }
.company-body .salaryCont .block .wrap { width: 1040px; }
.company-body .stContainer { width: 1040px; margin: 0 auto; }
.company-body .stContainer .sideList .inner { width: 1040px; margin: 0; }
.company-body .jobfairList .list ul { overflow: hidden; width: 1050px; margin: 0; }
.company-body .jobfairList .list ul li { margin: 0 10px 10px 0; }
.company-body .jobfairList .list ul li a { width: 515px; height: 176px; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.company-body .secView { background-color: transparent; padding-bottom:0;}
.company-body .secView .detailView { width: 100%; margin: 0; }
.company-body .secAnother {padding-top:0;}
.company-body .secAnother .atc {margin-top:60px;}
.company-body .secAnother .imgList { overflow:hidden; width: 1040px; }
.company-body .secAnother .imgList ul { width: 1040px; margin-left: 0; }
.company-body .secAnother .imgList li { position:relative; width:250px; min-height:285px; margin:0 0 0 21px; padding-left:22px; border-left:1px solid #e0e0e0; -webkit-box-sizing: border-box; box-sizing: border-box; }
.company-body .secAnother .imgList li:first-child {width:227px; margin-left:0; padding-left:0; border-left:0;}
.company-body .secAnother .imgList li h2 {padding: 0px; margin:12px 0px; font-weight:bold; word-break: break-all;}
.company-body .secAnother .imgList li h2 em{margin-top: 0px; vertical-align: inherit;}
.company-body .secAnother .imgList li .img { overflow: hidden; height: 161px; }
.company-body .secAnother .imgList li .img img { max-width: 100%; }
.company-body .secAnother .imgList li dl {position:relative; padding-top:0; padding-left:31px; padding-right:0; line-height:18px;}
.company-body .secAnother .imgList li dl + dl {padding-top:3px;}
.company-body .secAnother .imgList li dl dt {position:absolute; left:0; top:0; vertical-align:top;}
.company-body .secAnother .imgList li dl + dl dt {top:3px;}
.company-body .secAnother .imgList li dl dt:after {display:none;}
.company-body .secAnother .imgList li dl dd {vertical-align:top;}
/* 기업뷰정책 기업분석 List */
.company-body .detail {width: 100%; margin-bottom: 30px; padding: 24px 40px; box-sizing: border-box; background: #F6F7F9; border: 1px solid #E0E0E0; display: flex; justify-content: space-between; align-items: center; height: 65px;}
.company-body .detail .txt {color: #666;font-size:14px;letter-spacing: 0px;}
.company-body .detail .txt a {color: #333;font-size:13px;letter-spacing: 0px; text-decoration: underline; font-weight: bold; padding-left: 10px;}
.company-body .detail .txt a::after {content: ''; display: inline-block; width: 16px; height: 16px; background: url(/content/images/ver_1/mtu/mtu_spr.png) no-repeat; background-position: -300px -315px; vertical-align: bottom;}
.company-body .detail .nice-txt a {font-size:14px;letter-spacing: 0px; color: #666;}
.company-body .analysisList.atc {padding: 30px 40px; margin: 10px auto 0;}
.company-body .analysisList.atc.Report {padding: 50px 40px;}
.company-body .analysisList .sortWrap {margin: 0;}
.company-body .analysisList .sortWrap .sortList {border-bottom: 1px solid #e8e8e8; width: 100%; padding-bottom: 15px;}
.company-body .analysisList .sortWrap .sortList .first {font-size:15px;letter-spacing: 0px; color: #333; font-weight: bold;}
.company-body .analysisList .sortWrap .sortList .num {color: #3399FF;}
.company-body .analysisList .joodJobList li {border-bottom: 1px solid #e8e8e8; position: relative;}
.company-body .analysisList .joodJobList li:first-child {border-top: none;}
.company-body .analysisList .joodJobList li::after {content: ''; display: block; clear: both;}
.company-body .analysisList .joodJobList li .thumb {float: left; width: 240px; padding: 30px 0; text-align: center;}
.company-body .analysisList .joodJobList li dl {float: left; width: 660px; padding: 26px 20px 30px;}
.company-body .analysisList .joodJobList li dt a {font-size:17px;letter-spacing: 0px; color: #333; font-weight: bold; word-break: keep-all; word-wrap: break-word;}
.company-body .analysisList .joodJobList li dt a strong {display: inline-block; position: relative; padding: 0 110px 0 0; max-width: 100%; box-sizing: border-box; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; text-decoration: underline;line-height:23px;}
.company-body .analysisList .joodJobList li dt a .listIcnArea {display: inline-block; position: absolute; right: 0; top: 0px; width: 110px; margin-right: -8px; font-size: 0;}
.company-body .analysisList .joodJobList li dt a .listIcnArea .newIco {display: block; width: 29px; height: 15px; overflow: hidden; text-indent: -9999px; background: url(/content/images/ver_1/star/sp_star.png) no-repeat; background-position: -310px -30px;}
.company-body .analysisList .joodJobList li .tx {font-size:14px;letter-spacing: 0px; line-height: 22px; color: #666; margin-top: 11px; height: 44px; overflow: hidden; margin-bottom: 16px;}
.company-body .analysisList .joodJobList li .tx a {color: #666;}
.company-body .analysisList .joodJobList li .sub {position: absolute; left: 260px; bottom: 28px;}
.company-body .analysisList .joodJobList li .sub .listSubItem {display: block;}
.company-body .analysisList .joodJobList .listSubItem .item {display: inline-block; position: relative;font-size:12px;letter-spacing: 0px; color: #888;}
.company-body .analysisList .joodJobList .item::before {content: ''; display: inline-block; width: 1px; height: 12px; margin: -1px 10px 0 10px; background: #dadada; vertical-align: middle;}
.company-body .analysisList .joodJobList .item:first-child:before {display:none;}
.company-body .analysisList .joodJobList .item .stIcnView:before{content:""; display:inline-block; background-position: -480px -20px; width:20px; height:14px; vertical-align:-3px; margin-right:6px;}
.company-body .analysisList .joodJobList .item .stIcnRip:before{content:""; display:inline-block; background-position: -465px -33px; width:15px; height:13px; vertical-align:-3px; margin-right:6px;}
/* 기업뷰정책 기업분석 View */
.Viewcontent .starViewTit {font-size:16px;letter-spacing: 0px; color: #666; line-height: 16px; height: 31px;}
.Viewcontent .Report-Title {margin-top: 66px;}
.Viewcontent .Report-Title .title {font-size:17px;letter-spacing: 0px; font-weight: bold; color: #333; position: relative;}
 
.Viewcontent .Report-Title .title span {color: #3399FF;}
.Viewcontent .Report-Title .title::after {content: ""; display: block; position: absolute; top: -7px; left: 0; width: 17px; height: 2px; background: #39f;}
.Viewcontent .analysisView.atc {width: 960px; padding: 0 0 50px 0; margin: 10px auto 0; background: #fff; border: 1px solid #dedede; box-sizing: border-box;}
.Viewcontent .viewPage .viewAtc .infoBx {padding: 13px 30px 35px; margin-bottom: 60px; border-bottom: 1px solid #e6e6e6; position: relative;}
.viewPage .viewAtc .infoBx .tit {padding-top: 21px;font-size:35px;letter-spacing: -1px; line-height: 1.2; color: #000; word-break: keep-all; word-wrap: break-word;}
.viewPage .viewAtc .infoBx .infoTx {font-size:12px;letter-spacing: 0px; line-height: 22px; color: #888; padding-left: 2px; overflow: hidden; position: relative;}
.viewPage .viewAtc .infoBx .infoTx > span {font-size:12px;letter-spacing: 0px; color: #888; padding-left: 2px; overflow: hidden; position: relative; padding-left: 11px; margin-left: 8px;}
.viewPage .viewAtc .infoBx .infoTx > span:first-child {margin-left: 0; padding-left: 0;}
.viewPage .viewAtc .infoBx .infoTx > span:after {content: ""; display: block; width: 1px; height: 12px; background-color: #dadada; position: absolute; left: 0; top: 3px;}
.viewPage .viewAtc .infoBx .infoTx > span:first-child::after {display: none;}
.viewPage .viewAtc .infoBx .infoTx .cate {color: #6991bf;}
.viewPage .viewAtc .infoBx .infoTx .txViewNum .hitsImg {display: inline-block; text-indent: -9999px; overflow: hidden; vertical-align: -3px; margin-right: 2px;}
.viewPage .viewAtc .infoBx .infoTx .txViewNum .hitsImg::after {content: ''; display: block; width: 20px; height: 14px; background: url(/content/images/ver_1/star/sp_star.png) 0 0 no-repeat; background-position: -480px -20px; overflow: hidden; text-indent: -9999px; vertical-align: -3px; margin-right: 2px;}
.viewPage .viewAtc .infoBx .funcBx {position: relative;}
.viewPage .viewAtc .infoBx .funcBx .funcBtn {position: absolute; right: 0; bottom: 0;}
.viewPage .viewAtc .infoBx .funcBx .funcBtn button {float: left; display: inline-block; width: 39px; height: 20px; padding-left: 2px; margin-right: 1px; background: url(/content/images/goodjob/ico_func_div.gif) no-repeat 0 2px;}
.viewPage .viewAtc .infoBx .funcBx .funcBtn button:first-child {background: none;}
.viewPage .viewAtc .infoBx .funcBx .funcBtn button span {display: inline-block; overflow: hidden; text-indent: -9999px; background: url(/content/images/goodjob/sp_goodjob.png) no-repeat;}
.viewPage .viewAtc .funcBx .funcBtn button.btnBig span {width: 23px; height: 11px; background-position: 0px -70px;}
.viewPage .viewAtc .funcBx .funcBtn button.btnSmall span {width: 23px; height: 10px; background-position: -30px -70px;}
.viewPage .viewAtc .funcBx .funcBtn button.btnPrint span {width: 16px; height: 17px; background-position: -60px -70px;}
.viewPage .viewAtc .funcBx .funcBtn button.btnSns span {width: 16px; height: 14px; background-position: -90px -70px;}
.viewPage .funcBx .layer {display: block; position: absolute; top: 15px; right: 6px; width: 118px; border: 1px solid #565656; background-color: #fff; text-align: left; z-index: 999999;}
.viewPage .funcBx .layer .cont {margin: 2px; padding: 8px 8px; line-height: 1.4; background-color: #fbfbfb;}
.viewPage .funcBx .layer .sns {overflow: hidden;}
.viewPage .funcBx .layer .sns li {float: left; text-align: center; margin: 0;}
.viewPage .funcBx .layer .sns li button {display: inline-block; width: 49px;font-size:11px;letter-spacing: 0px; color: #666;}
.viewPage .funcBx .layer .sns .irBtn {display: block; width: 29px; height: 29px; margin: 0 auto 8px auto; background: url(/content/images/starter/coredata/btn_coredata.png) no-repeat 0 0;}
.viewPage .funcBx .layer .sns .btnTwi {background-position: -107px -148px;}
.viewPage .funcBx .layer .sns .btnFace {background-position: -146px -148px;}
.viewPage .funcBx .layer .close {position: absolute; top: 0; right: 0;font-size:12px;letter-spacing: 0px;}
.viewPage .funcBx .layer .close span {position: absolute; left: -9999px; top: 0; text-indent: -9999px;}
.viewPage .funcBx .layer .btnClose {width: 17px; height: 17px; background: url(/content/images/starter/coredata/btn_close_1.gif) no-repeat 4px 4px;}
.viewPage .funcBx .layer .arrowTop {position: absolute; top: -5px; bottom: auto; left: auto; right: 8px; width: 9px; height: 6px; background: url(/content/images/starter/coredata/btn_arr_3.gif) no-repeat 0 0;}
.Viewcontent .viewPage .viewAtc .viewWrap {width: 690px; margin: 0 auto; padding: 0 26px; line-height: 1.8; word-break: keep-all; word-wrap: break-word;}
.Viewcontent .viewPage .viewAtc .viewWrap img {display: block; max-width: 100%; margin: 0 auto;}
.Viewcontent .copyrightTx {width: 690px; box-sizing: border-box; margin: 30px auto 0; padding: 12px 0 10px 0; border: 1px solid #e0e0e0; background-color: #f9f9f9; text-align: center;}
.viewBtn {display: flex; justify-content: space-between; height: 44px; }
.viewBtn.viewBtnTop {margin-top: 20px;}
.viewBtn.viewBtnBottom {margin-top: 10px;}
.viewBtn .listBtn {width: 102px; height: 44px; box-sizing: border-box; border: 1px solid #e0e0e0; background: #fff;font-size:13px;letter-spacing: 0px; text-align: center; color: #333; display: flex; align-items: center; justify-content: center;}
.viewBtn .listBtn.tplBtnNext::after {content: ""; display: inline-block; width: 8px; height: 11px; margin-left: 5px; margin-top: -2px; background: url(/content/images/ver_1/common/tpl_sp_btn.png) no-repeat -334px 0;}
.viewBtn .listBtn.tplBtnPrev::before {content: ""; display: inline-block; width: 8px; height: 11px; margin-right: 5px; background: url(/content/images/ver_1/common/tpl_sp_btn.png) no-repeat -326px 0;}
.viewBtn .listBtn.btnList::before {content: ''; display: inline-block; width: 16px; height: 12px; margin-right: 5px; background: url(/content/images/ver_1/star/sp_coredata.png) no-repeat 0 -221px;}
.bottom-banner.report {margin: 30px 0;}
.bottom-banner.report img {width: 100%; max-width: 1040px;}
.company-body .superCustom { background-color: #fff; }
.company-footer { width: 100% !important; background-color: #fff; border-top: 1px solid #e7ebf0 !important; text-align: center; margin: 0 auto !important; padding: 30px 0; }
.company-footer .adFooter { width: 1040px; margin: 0 auto; }
.company-footer .btmNtc { width: 1040px; margin: 0 auto; }
.company-footer .copyright { margin-bottom: 0 !important; }
.company-footer-booth { position: relative; padding: 10px 10px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; }
.company-footer-booth .logo { position: absolute; left: 16px; top: 15px; }
.company-footer-booth p {font-size:11px;letter-spacing: 0px; color: #494949; line-height: 1.6; }
.company-footer-booth em { color: #39f; }
.company-footer-booth a { margin-left: 3px; font-weight: bold; text-decoration: underline; }
.company-footer-booth a:hover { color: #494949; }
.company-footer-booth-container { overflow: hidden; position: relative; width: 100%; height: 115px; padding: 16px 0 0 204px; background-color: #f5f5f5; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.recruitCont .jobInfo .booth.end, .jobInfo .booth.end a { cursor: pointer !important; }
