<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="kr/co/sist/properties/database.properties" />
  <typeAliases>
  	<!-- example ) <typeAlias type="kr.co.sist.domain.EmpDomain" alias="ed" /> -->
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${connectionURL}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/co/sist/mapper/exampleMapper.xml"/>
    <mapper resource="kr/co/sist/mapper/admin/recruit/recruitMapper.xml"/>
    <mapper resource="kr/co/sist/mapper/admin/admin/adminMapper.xml"/>
    <mapper resource="kr/co/sist/mapper/user/recruit/recruitMapper.xml"/>
    <mapper resource="kr/co/sist/mapper/admin/resume/resumeMapper.xml"/>
  </mappers>
</configuration>