<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.qna.user">

	<select id="selectMyQnas" resultType="kr.co.sist.user.domain.qna.UserQnaDomain">
		select qna_num, title, input_date
		from qna
		order by qna_num desc
	</select>

	<select id="selectOneQna" resultType="kr.co.sist.user.domain.qna.UserQnaDomain">
		select 
	    qna.category,
	    qna.input_date,
	    qna.title,
	    qna.content,
	    qna_answer.ans_title,
	    qna_answer.reply_date,
	    qna_answer.ans_content
	from 
	    qna
	left join 
	    qna_answer on qna.qna_num = qna_answer.qna_num
	where 
	    qna.qna_num = #{qna_num}
	</select>	
	
	<insert id="insertQna" parameterType="kr.co.sist.user.vo.qna.UserQnaVO">
        insert into qna (qna_num, category, title, content)
    	values ((select count(*)+1 from qna), #{category, jdbcType=VARCHAR}, #{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR})
	</insert>

</mapper>