

/* 모든 div 요소에 기본 스타일 적용 */
#content {
    background-color: #ffffff !important; /* 배경색 흰색으로 설정 */
    width: 100%;
    max-width: 1300px; /* 최대 너비를 1300px로 제한 */
    margin: 0 auto; /* 수평 가운데 정렬 */
    box-sizing: border-box; /* 패딩과 테두리를 요소의 전체 너비에 포함 */
    padding: 20px; /* 기본 패딩 설정 */
}
