<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.co.sist.mapper.user.mypage.mypageMapper">
	 <resultMap id="userApplyList" type="kr.co.sist.user.domain.mypage.UserApplyDomain">
		    <result property="companyName" column="company_name"/>
		    <result property="title" column="title"/>
		    <result property="applyDate" column="apply_date"/>
		    <result property="progressState" column="progress_state"/>
	</resultMap>
 	<update id="updatePassFlag" parameterType="String">
  		update users
  		set updatepass_flag='N'
  		where user_id=#{ userId }
  	</update>
  	<select id="selectUserInfo" parameterType="String" resultType="kr.co.sist.user.domain.mypage.UserInfoDomain">
  		select user_id userId,name,gender,phone,tel,profile_img profileImg
		from users
		where user_id=#{ userId }
  	</select>
  	<select id="selectChkPass" parameterType="String" resultType="String">
  		select password
		from users
		where user_id=#{ userId }
  	</select>
  	<select id="selectChkQuestion" parameterType="kr.co.sist.user.vo.mypage.QuestionVO" resultType="kr.co.sist.user.domain.mypage.QuestResultDomain">
  	select q_num qNum,q_answer qAnswer
	from users
	where user_id=#{ userId } and q_num=#{ qNum } and q_answer=#{ qAnswer }
  	</select>
  	<update id="updateUserInfo" parameterType="kr.co.sist.user.vo.mypage.UpdateUserVO">
  	update users
	set name=#{ name }, phone=#{ phone }, tel=#{ tel }
	where user_id=#{ userId }
  	</update>
  	<select id="selectApply" parameterType="String" resultMap="userApplyList">
  	select cpi.company_name, rc.title, ap.apply_date, ap.progress_state
	from apply ap, recruit rc, companyinfo cpi
	where ((ap.recruit_num=rc.recruit_num) and (rc.company_code=cpi.company_code)) and ap.user_id=#{ userId }
  	</select>
 </mapper>