<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.co.sist.mapper.admin.basic.adminMapper">
	<resultMap id="adminInfoResultMap" type="kr.co.sist.admin.domain.basic.AdminInfoDomain">
	    <result property="position" column="position"/>
	    <result property="adminId" column="admin_id"/>
	    <result property="authority" column="authority"/>
	</resultMap>

  <select id="selectLogin" resultType="kr.co.sist.admin.domain.basic.AdminLoginDomain" parameterType="String">
  		select admin_id adminId,password
		from admin
		where admin_id=#{ adminId }
  </select>
  <select id="selectAdminList" resultMap="adminInfoResultMap" parameterType="kr.co.sist.admin.vo.basic.SearchVO">
  		select rnum,position,admin_id,authority
  		from (
  			select row_number() over(order by input_date asc) as rnum,position,admin_id,authority
			from admin
			<where>
			position!='슈퍼'
			<if test="keyword != null and keyword != ''">
				and admin_id like '%'||#{ keyword }||'%'
			</if>
			</where>
			)
		<where>
			<if test="startNum != 0 and endNum != 0">
				rnum between #{startNum} and #{endNum}
			</if>
		</where>
  </select>
  <select id="selectAdminCnt" resultType="int" parameterType="kr.co.sist.admin.vo.basic.SearchVO">
  		select count(*) as total_count
  		from (
  			select row_number() over(order by input_date asc) as rnum,position,admin_id,authority
			from admin
			<where>
			position!='슈퍼'
			<if test="keyword != null and keyword != ''">
				and admin_id='%'||#{ keyword }||'%'
			</if>
			</where>
			)
  </select>
  <insert id="insertAdmin" parameterType="kr.co.sist.admin.vo.basic.InsertAdminVO">
  		insert into admin(admin_id,password,authority) values(#{ adminId },#{ password },#{ authority })
  </insert>
  <select id="selectAdminInfo" resultMap="adminInfoResultMap" parameterType="String">
  		select admin_id,position,authority
  		from admin
  		where admin_id=#{ adminId }
  </select>
  <update id="updateAdminInfo" parameterType="kr.co.sist.admin.vo.basic.UpdateAdminInfoVO">
  		update admin
  		set admin_id=#{ adminId },authority=#{ authority }
  		where admin_id=#{ adminId }
  </update>
 </mapper>