<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.co.sist.notice.user">
 	<select id="selectNotices" resultType="kr.co.sist.user.domain.notice.NoticeUserDomain">
 		select category, title, input_date, notice_num
 		from notice
 		order by input_date desc
 	</select>
 	
 	<select id="selectOneNotice" resultType="kr.co.sist.user.domain.notice.NoticeUserDomain">
 		select notice_num, category, title, content, input_date
   		from notice
    	where notice_num = #{notice_num}
    
    
 	</select>
 	
 </mapper>